
.container-recipe {
  margin: 0 auto 0 auto;
  width: 100%;
  background-color: cadetblue;
}

.recipe-search-form {
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto 0 auto;
  background-color: rgb(114, 180, 189);
  color: #fff;
  height: 300px;
}