@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Sansita+Swashed&family=Spartan:wght@100&display=swap');

.sign-in-form {
  border-radius: 0em;
  min-height: 500px;
  justify-content: center;
  background-color: rgb(250, 207, 207);
  margin: auto;
  justify-content: center;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  justify-items: space-between;
}

.btn.btn-success {
  background-color: rgb(124, 120, 120);
  border-radius: 0em;
  border-color: rgb(124, 120, 120);
  width: 100%;
  margin: auto;
  justify-self: center;
}

.btn.btn-success:hover {
  background-color: rgb(224, 221, 221);
  border-color: rgb(124, 120, 120);
  color: darkgrey;
}

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}