@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sansita+Swashed&family=Spartan:wght@100&display=swap');

.sign-in-form {
  border-radius: 0rem;
  min-height: 770px;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/signup.jpg");
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  
}

.sign-in-segment {
  justify-content: center;
  margin: 0 auto 0 auto;
  border-radius: 0rem;
  align-items: center;
}

.signup-wrap {
  justify-content: center;
}

.row {
  justify-content: center;
}

.btn.btn-success {
  background-color: rgb(139, 199, 169);
  color: rgb(22, 22, 22);
  border-color: rgb(139, 199, 169);
  border-radius: 0rem;
  font-size: 15px;
  text-align: center;
  font-weight: 200;
  width: 100%;
  margin: auto;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn.btn-success:hover {
  background-color: rgb(224, 221, 221);
  border-color: rgb(124, 120, 120);
  color: rgb(37, 37, 37);
  font-weight: 500;
}

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}