.footer {
  min-height: 140px;
  background: #20201e;
  color: #fff;
  position: relative;
  clear: both;
  padding: 20px;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  font-size: 12px;
}
