@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Slab:wght@300&family=Sansita+Swashed&family=Spartan:wght@100&display=swap');

.recipe-results {
  position: relative;
  align-content: center;
  margin: 0 auto 0 auto;
  font-size: 14px; 
  color: rgb(3, 3, 3);
  line-height: 0rem;
  left: 50%;
  right: 50%;
}

.recipe-text {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 0.5rem;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

.recipe-source,
.recipe-link {
  font-size: 11px;
}

.list-group-item {
  align-content: center;
  line-height: 0.5vw;
}

.recipe-title {
  font-family: 'Roboto Slab', serif;
}

.nutri-ingredients {
  font-family: 'Roboto Slab', serif;
}

.saveRecipe.btn.btn-primary {
  background-color: rgb(37, 37, 37);
  border-color: rgb(37, 37, 37);
  border-radius: 0;
  align-content: center;
  font-size: 11px;
}

.saveRecipe.btn.btn-primary:hover {
  background-color: rgb(138, 135, 135);
  border-color: rgb(138, 135, 135);
}

.viewSavedBtn.btn.btn-light {
  background-color: rgb(252, 185, 196);
  border-color: rgb(252, 185, 196);
  color: rgb(46, 45, 45);
  border-radius: 0;
  align-content: center;
  font-size: 11px;
}

.viewSavedBtn.btn.btn-light:hover {
  background-color: rgb(211, 88, 107);
  border-color: rgb(211, 88, 107);
  color: #fff;
}

.save-buttons {
  display: flex;
  align-items: flex-end;
  font-size: 8px;
}