@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');

.dairy-header {
  font-family: 'BioRhyme', serif;
}

.dairy-right {
  background-color: rgb(179, 218, 182);
}

.dairy-left {
  background-color: rgb(224, 169, 173);
}

.dairy-container.left.justified {
  justify-content: center;
  padding: 10px;
}