@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');

.dairy-header {
  font-family: 'BioRhyme', serif;
}

.dairy-right {
  background-color: rgb(95, 160, 140);
}

.dairy-left {
  background-color: rgb(212, 129, 134);
}