.navbar {
  background-color: #99bd69;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #99bd69;
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -90%;
  transition: 900ms;
}

.nav-menu.active {
  left: 0;
  transition: 400ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(206, 118, 103);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #99bd69;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin-left: 8px;
}