.footer {
  min-height: 100px;
  background: #3a3d35;
  color: #fff;
  position: relative;
  padding: 20px;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #8daa66;
}