.footer {
  min-height: 100px;
  background: #3a3d35;
  color: #fff;
  /* position: fixed; */
  padding: 20px;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.footer span {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #8daa66;
}