@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');
.ingredients-container {
  font-family: 'BioRhyme', serif;
}
.ingredients-search {
  justify-content: center; 
  text-align: center;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}

.nutrition-header {
  display: flex;
  margin: 0 auto;
  width: 600px;
  font-size: 28px;
  padding: 30px;
  line-height: 1em;
  justify-content: center;
  text-align: center;
  font-family: 'BioRhyme', serif;
}

.substitute {
  font-family: 'BioRhyme', serif;
}

.nutrition-container {
  width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.nutrition-btn {
  justify-content: center;
  width: 550px;
  margin: auto;
  display: flex;
}
